.displayweather {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

.maincard {
  width: 100%;
  align-self: center;
  border-radius: 20px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cardtitle {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.7rem;
}

.cardsubtitle {
  position: absolute;
  left: 10px;
  top: 50px;
  font-size: 1rem;
}
.displayweather h1 {
  font-size: 5rem;
  margin: 4rem 0 0;
}

.central-box {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.weather-main {
  font-size: 1.3rem;
  flex: 1;
}

.weather-icon {
  width: clamp(150px, 25vw, 300px);
  animation: moving 3s linear infinite;
}

.weather-description {
  font-size: 1.3rem;
  text-transform: capitalize;
  flex: 1;
}

.weather-details {
  width: 100%;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.weather-details h4 {
  margin-right: 5px;
}

.weather-details-section {
  min-height: 200px;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

@keyframes moving {
  0% {
    transform: scale(1) translateX(0);
  }
  33% {
    transform: scale(0.9) translateX(-6px);
  }
  66% {
    transform: scale(0.85) translateX(6px);
  }
  100% {
    transform: scale(1) translateX(0);
  }
}
